/* ExtraLight 200 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-ExtraLight.woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

/* Light 300 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-Light.woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

/* Regular 400 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-Medium.woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

/* SemiBold 600 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-SemiBold.woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* ExtraBold 800 */
@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-ExtraBold.woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

/* ExtraBold 800 */
@font-face {
  font-family: 'United Sans';
  src: url('/fonts/UnitedSansSemiExt-Bold.otf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
