:root {
  /* default font styles */
  color: var(--color-primary-dark);
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: var(--fontSize-heading-1);
  line-height: var(--lineHeight-heading-1);
}

h2 {
  font-size: var(--fontSize-heading-2);
  line-height: var(--lineHeight-heading-2);
}

h3 {
  font-size: var(--fontSize-heading-3);
  line-height: var(--lineHeight-heading-3);
  letter-spacing: 0.005em;
}

h4 {
  font-size: var(--fontSize-heading-4);
  line-height: var(--lineHeight-heading-4);
}

h5 {
  font-size: var(--fontSize-heading-5);
  line-height: var(--lineHeight-heading-5);
}

h6 {
  font-size: var(--fontSize-heading-6);
  line-height: var(--lineHeight-heading-6);
}

p {
  color: var(--color-primary-dark);
  font-size: var(--fontSize-body-normal);
  font-weight: 500;
  line-height: var(--lineHeight-paragraph-normal);
  letter-spacing: var(--letterSpacing);
}
