@media (--motionNotOk) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

:root {
  height: 100%;
  min-height: 100vh;

  /* keep a persistent sidebar for the app so that when switching to pages that don't have content that reaches past the height of the browser viewport, we don't have a weird snapping issue when the scrollbar appears and makes our styling slightly different */
  overflow-y: scroll;
}

/* Custom scrollbar styles */

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--custom-scrollbar-thumb) var(--custom-scrollbar-track);

  /* set scroll behavior to be smooth for most people */
  scroll-behavior: smooth;
}

/* Chromium and Webkit-based browsers styles (i.e. Chrome, Safari, Edge) */
*::-webkit-scrollbar-thumb {
  background-color: var(--custom-scrollbar-thumb);
  border-radius: var(--radius-default);
}

*::-webkit-scrollbar {
  width: var(--custom-scrollbar-size);
  height: var(--custom-scrollbar-size);
}

*::-webkit-scrollbar-track {
  background-color: var(--custom-scrollbar-track);
  border-radius: var(--radius-default);
}

/* Set a bottom margin for all FormControl elements */
.chakra-form-control[role='group'] {
  margin-block-end: '1rem';
}

body {
  background-color: var(--color-neutral-lightest);
}

/* The `react-remove-scroll` library injects a style of 'margin-right: 11px !important' on the `body` element to offset a scrollbar; which is causing a layout shift for our Modals. In order to override it; I'm giving a higher specificity by targeting the `html` tag with a `body` tag following it (since the style has !important on it already); which will override the marginRight and the CSS variable they define for it `removed-body-scroll-bar-size` */
html > body {
  --removed-body-scroll-bar-size: 0px;

  margin-right: 0 !important;
}
