:root {
  --color-primary-dark: #1e2137;
  --color-primary-blue: #1e52e9;
  --color-secondary-neonGreen: #ccf04e;
  --color-secondary-neonGreen40: #e0f694;
  --color-secondary-approve: #32b430;
  --color-secondary-approve25: rgb(103 193 101 / 0.3);
  --color-secondary-yellow: #d0aa26;
  --color-neutral-lightest25: rgb(238 242 248 / 0.25);
  --color-neutral-lightest50: #f7f8fb;
  --color-neutral-lightest: #eef2f8;
  --color-neutral-light: #d9e3f3;
  --color-neutral-medium: #a0a4c3;
  --color-neutral-medium25: rgb(160 164 195 / 0.25);
  --color-neutral-dark: #737795;
  --color-neutral-dark50: rgb(115 119 149 / 0.5);
  --color-white: #fff;
  --color-black: #000;
  --color-error: #f65858;
  --color-error25: rgb(246 88 88 / 0.25);
  --color-success: #67c165;
  --color-warning: #f0cc4e;
  --color-approved-30: #d1edd1;
  --color-approved-60: #33b530;
  --color-pending-30: #faf1c9;
  --color-pending-60: #b49015;
  --color-wireframes-dark: #1d1e1f;
  --color-wireframes-primaryText: #495057;
  --color-wireframes-secondaryText: #8b9399;
  --color-wireframes-error: #fc3535;
  --color-wireframes-success: #5dd949;

  /* generated colorSchemes with Themera for use in specific
   Chakra UI components that require colorSchemes only
   https://github.com/tomhicks/themera */
  --color-neonGreen-50: #f8fde7;
  --color-neonGreen-100: #ecf9bd;
  --color-neonGreen-200: #e0f693;
  --color-neonGreen-300: #d4f269;
  --color-neonGreen-400: #c7ef3e;
  --color-neonGreen-500: #bbeb14;
  --color-neonGreen-600: #96bc10;
  --color-neonGreen-700: #708d0c;
  --color-neonGreen-800: #4b5e08;
  --color-neonGreen-900: #252f04;
  --color-blue-50: #e8edfd;
  --color-blue-100: #becdf9;
  --color-blue-200: #94adf5;
  --color-blue-300: #6a8df0;
  --color-blue-400: #416dec;
  --color-blue-500: #174ce8;
  --color-blue-600: #123dba;
  --color-blue-700: #0e2e8b;
  --color-blue-800: #091f5d;
  --color-blue-900: #050f2e;
  --color-primary-dark-50: #eeeff6;
  --color-primary-dark-100: #d1d3e6;
  --color-primary-dark-200: #b3b7d6;
  --color-primary-dark-300: #959bc5;
  --color-primary-dark-400: #787fb5;
  --color-primary-dark-500: #5a63a5;
  --color-primary-dark-600: #484f84;
  --color-primary-dark-700: #363b63;
  --color-primary-dark-800: #242842;
  --color-primary-dark-900: #121421;
  --color-pastelYellow-light: rgb(240 204 78 / 0.3);
  --color-pastelYellow-dark: #b59116;
}
