:root {
  /* font sizes */
  --fontSize-display-1: 5.1563rem; /* 82.5px */
  --fontSize-display-2: 4.3125rem; /* 69px */
  --fontSize-display-3: 3.5625rem; /* 57px */

  /* headings */
  --fontSize-heading-1: 3rem; /* 48px */
  --fontSize-heading-2: 2.5rem; /* 40px */
  --fontSize-heading-3: 2rem; /* 32px */
  --fontSize-heading-4: 1.75rem; /* 28px */
  --fontSize-heading-5: 1.5rem; /* 24px */
  --fontSize-heading-6: 1.125rem; /* 18px */

  /* smallcaps */
  --fontSize-smallcaps-lg: 0.875rem; /* 14px */
  --fontSize-smallcaps-sm: 0.7188rem; /* 11.5px */

  /* paragraph */
  --fontSize-paragraph-xl: 1.4375rem; /* 23px */
  --fontSize-paragraph-lg: 1.125rem; /* 18px */
  --fontSize-paragraph-normal: 0.875rem; /* 14px */

  /* body */
  --fontSize-body-normal: 1rem; /* 16px */
  --fontSize-body-md: 0.875rem; /* 14px */
  --fontSize-body-sm: 0.75rem; /* 12px */
  --fontSize-body-xs: 0.625rem; /* 10px */

  /* font settings */
  --fontFamily: 'Manrope', -apple-system, system-ui, sans-serif;
  --letterSpacing: 0.6px;
}
