:root {
  /* display */
  --lineHeight-display: 1;

  /* headings */
  --lineHeight-heading-1: 1.5;
  --lineHeight-heading-2: 1.5;
  --lineHeight-heading-3: 1.25;
  --lineHeight-heading-4: 1.3;
  --lineHeight-heading-5: 1.25;
  --lineHeight-heading-6: 1.33;

  /* smallcaps */
  --lineHeight-smallcaps-lg: 1.33;
  --lineHeight-smallcaps-sm: 1.4;

  /* paragraph */
  --lineHeight-paragraph-xl: 1.3;
  --lineHeight-paragraph-lg: 1.44;
  --lineHeight-paragraph-normal: 1.5;

  /* body */
  --lineHeight-body-normal: 1.3;
  --lineHeight-body-md: 1.45;
  --lineHeight-body-sm: 1.25;
  --lineHeight-body-xs: 1.6;
}
