:root {
  --shadow-wireframe: 1px 4px 4px rgb(0 0 0 / 0.05);
  --shadow-blue: 0px 30px 50px rgb(30 82 233 / 0.1);
  --shadow-button: 0px 8px 20px rgb(30 82 233 / 0.4);
  --shadow-mainContent: 0px 30px 50px rgb(30 82 233 / 0.1);

  /* shadow Chakra uses for default focus outline styles */
  --shadow-outline: 0 0 0 3px rgb(30 82 233 / 0.8);
  --shadow-outlineNeutral: 0 0 0 3px rgb(115 119 149 / 0.5);
  --shadow-outlineNeutral25: 0 0 0 3px rgb(115 119 149 / 0.25);
}
