/*
 * test and see if the cascade layer for components is enough without the :where selector to keep
 * the specificity low enough.
 *
 * finish converting over base level resets for inputs, selects, buttons, links, etc here
 */

/* 
 *
 * BASE STYLES
 *
 */
:where(a) {
  border-radius: 0;
  color: var(--color-primary-blue);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus-visible {
    text-decoration: underline;
  }

  &:focus-visible {
    box-shadow: var(--shadow-outlineNeutral);
  }

  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    outline: var(--color-neutral-medium) solid 1px;
    outline-offset: 0;
    opacity: 0.35;
  }
}

:where(a[data-variant]),
:where(a[data-size]) {
  &:hover,
  &:active,
  &:focus-visible {
    text-decoration: none;
  }
}

:where(button),
:where(a[data-variant]),
:where(a[data-size]) {
  border-radius: var(--radius-default);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-weight: 800;
  letter-spacing: 0.125em;
  position: relative;
  text-transform: uppercase;

  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  /*
   * If a leftIcon is present in the button, slightly tweak the margin so that it looks like
   * there's the same padding on the left and right side of the Button. When using an SVG,
   * there is usually some extra space on the sides of the Icon, so the Button actually looks
   * like it has less padding to the right side of the text thant the left side of the Icon
   */
  /* stylelint-disable selector-class-pattern */
  & > .chakra-button__icon {
    margin-inline-start: -0.25rem;
  }
}

/* 
 *
 * SIZES 
 *
 */

/*
 * md 
 */
:where(button),
:where(button[data-size='md']),
:where(a[data-size='md']) {
  font-size: var(--font-size-body-md);
  padding: 0.875rem 2.25rem;
}

/*
 * sm 
 */
:where(button[data-size='sm']),
:where(a[data-size='sm']) {
  font-size: var(--font-size-body-sm);
  padding: 0.5rem 1rem;
}

/*
 * xs 
 */
:where(button[data-size='xs']),
:where(a[data-size='xs']) {
  font-size: var(--font-size-body-xs);
  padding: 0.25rem 0.5rem;
}

/* 
 *
 * VARIANTS 
 *
 */

/*
 * solid 
 */
:where(button),
:where(button[data-variant='solid']),
:where(a[data-variant='solid']) {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary-blue);
    border-color: var(--color-primary-blue);
    box-shadow: 0 8px 20px rgb(30 82 233 / 0.4);
  }

  &:active {
    background-color: var(--color-primary-blue);
    border-color: var(--color-primary-blue);
    box-shadow: 0 8px 20px rgb(30 82 233 / 0.4);
  }

  &:focus-visible {
    background-color: #3f4362;
    border-color: var(--color-primary-dark);
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: var(--color-primary-dark) !important;
    border-color: var(--color-primary-dark) !important;
    box-shadow: none !important;
    color: var(--color-white) !important;
    opacity: 0.35;
  }
}

/*
 * outline 
 */
:where(button[data-variant='outline']),
:where(a[data-variant='outline']) {
  background-color: transparent;
  border-color: var(--color-primary-blue);
  color: var(--color-primary-blue);

  &:hover,
  &:active {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
    box-shadow: 0 8px 20px rgb(30 82 233 / 0.4);
  }

  &:focus-visible {
    background-color: var(--color-primary-blue);
    border-color: #0014a5;
    color: var(--color-white);
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: var(--color-primary-blue) !important;
    border-color: var(--color-primary-blue) !important;
    box-shadow: none !important;
    color: var(--color-white) !important;
  }
}

/*
 * ghost 
 */
:where(button[data-variant='ghost']),
:where(a[data-variant='ghost']) {
  background-color: var(--color-white);
  border-color: var(--color-neutral-medium25);
  color: var(--color-neutral-dark);

  &:active {
    background-color: var(--color-primary-blue);
    border-color: var(--color-primary-blue);
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-white);
    border-color: var(--color-neutral-medium);
  }

  &:focus-visible {
    background-color: var(--color-white);
    border-color: rgb(85 114 165 / 0.5);
    box-shadow: none !important;
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: var(--color-primary-blue) !important;
    border-color: var(--color-primary-blue) !important;
    box-shadow: none !important;
    color: var(--color-white) !important;
  }
}

/*
 * destructive 
 */
:where(button[data-variant='destructive']),
:where(a[data-variant='destructive']) {
  background-color: transparent;
  border-color: var(--color-error);
  color: var(--color-error);

  &:hover,
  &:active,
  &:focus-visible {
    background-color: var(--color-error);
    color: var(--color-white);
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgb(246 88 88 / 0.6);
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: var(--color-error) !important;
    border-color: var(--color-error) !important;
    box-shadow: none !important;
    color: var(--color-white) !important;
  }
}
